@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* || REST */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* || VARIABLES */
:root {
  /* COLORS */
  --sunset-orange: #f16718;
  --peach: #ff9b62;
  --midnight-blue: #162542;
  --slate-gray: #7b8bad;
  --ice-blue: #e8eff2;
  --white: #ffffff;

  /* TYPOGRAPHY */
  --FF: "Barlow", serif;

  --H1: 900 56px/56px var(--FF);
  --H2: 900 32px/36px var(--FF);
  --H3: 900 24px/28px var(--FF);
  --BODY: 500 16px/26px var(--FF);
}

/* || UTILITY CLASSES */
.offscreen {
  position: absolute;
  left: -10000px;
}

.nowrap {
  white-space: nowrap;
}

.center {
  text-align: center;
}

.responsive-image {
  display: none;
}

/* MOBILE FIRST DESIGN */
/* || GENERAL STYLES */
html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  max-width: 100%;
  overflow-x: hidden;
  background-color: var(--white);
}

h1,
h2 {
  margin: 0;
  padding: 0;
  font-size: inherit;
  font-weight: normal;
}

a:any-link {
  text-decoration: none;
  color: black;
}

/* || HEADER */
.header {
  margin: 23px 24px 64px 24px;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.header-nav {
  display: flex;
  flex-flow: row;
  align-items: center;
  gap: 136px;
}

.header-nav img {
  max-width: 40px;
}

.header-nav-cta {
  font: var(--BODY);
  color: var(--midnight-blue);
  font-weight: bold;
  background-color: var(--ice-blue);
  width: 150px;
  height: 48px;
  padding: 11px 14.5px 11px 13.5px;
  border-radius: 8px;
}

/* || MAIN */
.main {
  display: flex;
  flex-flow: column;
  align-items: center;
  overflow-x: hidden;
  width: 100%;
}

/* || MAIN-HERO */
.main-hero {
  margin-bottom: 24px;
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  position: relative;
  gap: 64px;
}

.main-hero__text-hero {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  gap: 32px;
  margin: 0px 24px 0px 24px;
}

.text-hero__title {
  font: 900 48px/48px var(--FF);
  text-transform: uppercase;
  color: var(--midnight-blue);
  width: 327px;
}

.text-hero__subtext {
  font: var(--BODY);
  color: var(--slate-gray);
  width: 327px;
}

.text-hero__cta-info {
  display: flex;
  flex-flow: row;
  align-items: center;
  gap: 32px;
}

.cta-info__btn {
  background-color: var(--sunset-orange);
  border-radius: 8px;
  color: var(--white);
  font: var(--BODY);
  font-weight: bold;
  padding: 11px 14px;
  width: 150px;
  height: 48px;
}

.text-hero__cta-info p {
  color: var(--slate-gray);
  font: var(--BODY);
  font-weight: bold;
}

.main-hero-radius img {
  border-radius: 20px 0px 0px 20px;
}

.main-hero__hero-img {
  position: relative;
  left: 24px;
}

/* || MAIN-BOAST */
.main-boast {
  display: flex;
  flex-flow: column;
  gap: 75px;
  position: relative;
  align-items: center;
  width: 100%;
  margin-bottom: 111px;
}

.main-boast__hero-img {
  display: flex;
  flex-flow: row;
  gap: 24px;
  position: relative;
  left: -44px;
}

.boast-hero-img1 img {
  width: 129px;
  border-radius: 0px 20px 20px 0px;
}

.boast-hero-img2 img {
  width: 220px;
  border-radius: 20px;
}

.main-boast__text-boast {
  margin: 0px 24px 0px 24px;
  display: flex;
  flex-flow: column;
  gap: 24px;
  align-items: center;
}

.text-boast__title {
  font: var(--H2);
  color: var(--midnight-blue);
  text-transform: uppercase;
  width: 255px;
}

.text-boast__subtext {
  font: var(--BODY);
  color: var(--slate-gray);
}

/* || MAIN-FEATURES */
.main-features {
  display: flex;
  flex-flow: column;
  gap: 64px;
  align-items: center;
  margin: 0px 24px 96px 24px;
}

.main-features-segment {
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 48px;
}

.features-segment__icon {
  display: grid;
  place-content: center;
  background-color: var(--sunset-orange);
  border-radius: 16px;
  width: 65px;
  height: 65px;
}

.features-segment__text-segment {
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 24px;
}

.text-segment__title {
  font: var(--H3);
  color: var(--midnight-blue);
  width: 200px;
}

.segment__title1 {
  width: 137px;
}

.text-segment__subtext {
  font: var(--BODY);
  color: var(--slate-gray);
  width: 327px;
}

/* || FOOTER */
.footer {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin: 0px 52px 50px 51px;
}

.footer-content p {
  font: var(--BODY);
  color: var(--slate-gray);
}

.footer-content span {
  font-weight: bold;
}

/* || Tablet */
@media (min-width: 768px) {
  /* || HEADER */
  .header {
    margin: 40px 40px 62px 39px;
  }

  .header-nav {
    gap: 474px;
  }

  .header-nav-cta {
    width: 175px;
    height: 58px;
    padding: 16px 27px 16px 26px;
  }

  /* || MAIN-HERO */
  .main-hero {
    margin-bottom: 40px;
    flex-flow: row;
    align-items: center;
    position: relative;
    gap: 69px;
    left: 78px;
  }

  .main-hero__text-hero {
    gap: 0px;
    margin: 0px 0px 0px 39px;
  }

  .text-hero__title {
    margin-bottom: 34px;
  }

  .text-hero__subtext {
    width: 339px;
    margin-bottom: 39px;
  }

  .text-hero__cta-info {
    gap: 37px;
  }

  .cta-info__btn {
    padding: 16px 27px 16px 26px;
    width: 175px;
    height: 58px;
  }

  .main-hero-radius {
    width: 478px;
    height: 425px;
  }

  .main-hero__hero-img .mobile {
    display: none;
  }

  .main-hero__hero-img .tablet {
    display: block;
  }

  .main-hero__hero-img {
    position: relative;
    left: 0px;
  }

  /* || MAIN-BOAST */
  .main-boast {
    gap: 72px;
    margin-bottom: 142px;
  }

  .main-boast__hero-img {
    gap: 30px;
    position: relative;
    left: -19px;
  }

  .boast-hero-img1 {
    width: 214px;
    height: 320px;
  }

  .boast-hero-img2 {
    width: 445px;
    height: 320px;
  }

  .boast-hero-img1 .mobile,
  .boast-hero-img2 .mobile {
    display: none;
  }

  .boast-hero-img1 .tablet,
  .boast-hero-img2 .tablet {
    display: block;
  }

  .boast-hero-img1 img {
    width: 214px;
    border-radius: 20px;
  }

  .boast-hero-img2 img {
    width: 445px;
    border-radius: 20px;
  }

  .main-boast__text-boast {
    margin: 0px 39px 0px 40px;
    flex-flow: row;
    gap: 36px;
  }

  .text-boast__title {
    text-align: left;
  }

  .text-boast__subtext {
    text-align: left;
    width: 398px;
  }

  /* || MAIN-FEATURES */
  .main-features {
    flex-flow: row;
    flex-wrap: wrap;
    gap: 72px;
    margin: 0 auto 142px;
    justify-content: center;
    max-width: 768px;
    padding: 0 39px;
  }

  .main-features-segment {
    align-items: flex-start;
    gap: 40px;
    width: calc(50% - 36px);
  }

  .features-segment__text-segment {
    align-items: flex-start;
  }

  .text-segment__title {
    text-align: left;
  }

  .text-segment__subtext {
    width: 281px;
    text-align: left;
  }

  /* || FOOTER */
  .footer {
    margin: 0px 249px 43px 247px;
  }
}

/* || Desktop */
@media (min-width: 992px) {
  /* || HEADER */
  .header {
    margin: 55px 165px 83px 165px;
  }

  .header-nav {
    gap: 895px;
  }

  .header-nav-cta {
    width: 175px;
    height: 58px;
    padding: 16px 27px 16px 26px;
  }

  .header-nav-cta:hover,
  .header-nav-cta:focus {
    color: var(--white);
    background-color: var(--midnight-blue);
  }

  /* || MAIN-HERO */
  .main-hero {
    margin-bottom: 30px;
    flex-flow: row;
    position: relative;
    gap: 125px;
  }

  .main-hero__text-hero {
    gap: 0px;
    margin: 0px 0px 0px 130px;
  }

  .text-hero__title {
    font: var(--H1);
    width: 445px;
    margin-bottom: 24px;
  }

  .text-hero__subtext {
    width: 445px;
    font-size: 18px;
    margin-bottom: 40px;
  }

  .text-hero__cta-info {
    gap: 40px;
  }

  .cta-info__btn {
    padding: 16px 27px 16px 26px;
    width: 175px;
    height: 58px;
  }

  .cta-info__btn:hover,
  .cta-info__btn:focus-visible {
    background-color: var(--peach);
  }

  .main-hero__hero-img {
    display: flex;
    gap: 90px;
  }

  .main-hero-radius {
    max-width: 540px;
    height: 480px;
  }

  .main-hero-radius .desktop img {
    border-radius: 20px;
    max-width: 540px;
  }

  .main-hero-radius .tablet {
    display: none;
  }

  .main-hero-radius .desktop {
    display: block;
  }

  .main-hero-pattern .pattern {
    display: block;
  }

  .main-hero-pattern img {
    max-width: 255px;
    height: 240px;
  }

  .main-hero__hero-img {
    position: relative;
    left: 0px;
  }


  /* || MAIN-BOAST */
  .main-boast {
    flex-flow: row;
    position: relative;
    width: 100%;
    margin-bottom: 168px;
  }

  .main-boast__hero-img {
    display: flex;
    flex-flow: row;
    align-items: baseline;
    gap: 24px;
    position: relative;
    left: -70px;
  }

  /*  */
  .boast-hero-img1 {
    width: 255px;
    height: 480px;
  }

  .boast-hero-img2 {
    width: 445px;
    height: 480px;
  }

  .boast-hero-img1 .tablet,
  .boast-hero-img2 .tablet {
    display: none;
  }

  .boast-hero-img1 .desktop,
  .boast-hero-img2 .desktop {
    display: block;
  }
  /*  */

  .boast-hero-pattern .pattern {
    display: block;
    width: 255px;
    height: 236px;
  }

  .boast-hero-img1 img {
    width: 255px;
    border-radius: 20px;
  }

  .boast-hero-img2 img {
    width: 455px;
    border-radius: 20px;
  }

  .main-boast__text-boast {
    margin: 0px 165px 0px 0px;
    gap: 27px;
    align-items: flex-start;
    flex-flow: column;
  }

  .text-boast__title {
    text-align: left;
  }

  .text-boast__subtext {
    width: 255px;
    text-align: left;
  }

  /* || MAIN-FEATURES */
  .main-features {
    flex-wrap: nowrap;
    gap: 30px;
    max-width: 1110px;
    padding: 0;
    margin: 0 auto 128px;
    align-items: flex-start;
  }

  .main-features-segment {
    flex-direction: column;
    align-items: flex-start;
    gap: 48px;
    width: 100%;
  }

  .features-segment__icon {
    flex-shrink: 0;
  }

  .features-segment__text-segment {
    flex-grow: 1;
    gap: 24px;
  }

  .text-segment__subtext {
    width: 100%;
    max-width: 255px;
  }

  /* || FOOTER */
  .footer {
    margin: 0px 600px 39px 568px;
  }
}
